<section class="about-me" id="about">
  <h2 class="visually-hidden">About</h2>
  <div class="container">
    <div class="bio">
      <div class="bio_box">
        <h2 class="bio_title">
          I work with people all over <br />
          the world to create <br />
          impressive and <span class="burgundy">functional</span><br />
          <span class="grey">websites</span> that reflect each <br />
          client's unique personality.
        </h2>
      </div>

      <div class="bio-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/about-us/about_us_desk@1x.png 1x,
              ./img/about-us/about_us_desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about-us/about_us_tabl@1x.png 1x,
              ./img/about-us/about_us_tabl@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/about-us/about_us_mob@1x.png 1x,
              ./img/about-us/about_us_mob@2x.png 2x
            "
          />
          <img
            class="about_picture"
            src="./img/about-us/about_us_tabl@1x.png 1x"
            alt="Lloyd Jefferson"
            width="704"
            height="700"
          />
        </picture>
      </div>
    </div>

    <div class="accordion-container about_me_accordeon">
      <ul class="about-me-list">
        <li class="about-me-item about-me-item-line">
          <div class="about-me-title-box">
            <h3 class="about-me-subtitle">About me</h3>
            <button type="button" class="ac-trigger about-me-btn">
              <svg class="about-me-icon" width="32" height="32">
                <use href="./img/svg/icons.svg#icon-keyboard_arrow_up"></use>
              </svg>
            </button>
          </div>

          <p class="about-me-item-text first-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="about-me-item-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work.I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </li>
        <li class="about-me-item about-me-item-line">
          <div class="about-me-title-box">
            <h3 class="ac-header about-me-subtitle">Role</h3>
            <button type="button" class="ac-trigger about-me-btn">
              <svg class="about-me-icon" width="32" height="32">
                <use href="./img/svg/icons.svg#icon-keyboard_arrow_up"></use>
              </svg>
            </button>
          </div>
          <p class="about-me-item-text">
            Frontend development HeadlessCMS,Wordpress Blender(enjoy)
          </p>
        </li>
        <li class="about-me-item about-me-item-line">
          <div class="about-me-title-box">
            <h3 class="about-me-subtitle">About me</h3>
            <button type="button" class="about-me-btn">
              <svg class="about-me-icon" width="32" height="32">
                <use href="./img/svg/icons.svg#icon-keyboard_arrow_up"></use>
              </svg>
            </button>
          </div>
          <p class="about-me-item-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York 2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </li>
      </ul>
    </div>
    <div class="skills-education-carusel">
      <div class="swiper about-me-swiper">
        <ul class="swiper-wrapper about-me-swiper-wrapper">
          <li class="swiper-slide about-me-swiper-slide">HTML</li>
          <li class="swiper-slide about-me-swiper-slide">CSS</li>
          <li class="swiper-slide about-me-swiper-slide">JavaScript</li>
          <li class="swiper-slide about-me-swiper-slide">React</li>
          <li class="swiper-slide about-me-swiper-slide">Node.js</li>
          <li class="swiper-slide about-me-swiper-slide">TypeScript</li>
          <li class="swiper-slide about-me-swiper-slide">SoftSkills</li>
        </ul>
      </div>
      <!-- Кнопки керування -->
      <button class="about-me-swiper-btn-next" type="button">
        <svg class="next-btn-icon" width="28" height="28">
          <use href="./img/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
