<section class="covers" id="covers">
  <div class="container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="marquee">
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img class="covers-img eng" alt="powerpulse" />
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" />
        </li>
        <li class="marquee__line">
          <img class="covers-img energy" alt="energy" />
        </li>
        <li class="marquee__line">
          <img class="covers-img wallet" alt="wallet" />
        </li>
        <li class="marquee__line">
          <img class="covers-img green" alt="green" />
        </li>
        <li class="marquee__line">
          <img class="covers-img eng" alt="eng" />
        </li>
        <li class="marquee__line">
          <img class="covers-img starlight" alt="starlight" />
        </li>
        <li class="marquee__line">
          <img class="covers-img fruitbox" alt="fruitbox" />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img class="covers-img fruitbox" alt="fruitbox" />
        </li>
        <li class="marquee__line">
          <img class="covers-img wallet" alt="wallet" />
        </li>
        <li class="marquee__line">
          <img class="covers-img starlight" alt="starlight" />
        </li>
        <li class="marquee__line">
          <img class="covers-img ukrain" alt="ukrain" />
        </li>
        <li class="marquee__line">
          <img class="covers-img starlight" alt="starlight" />
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" />
        </li>
        <li class="marquee__line">
          <img class="covers-img eng" alt="eng" />
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img class="covers-img eng" alt="eng" />
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" />
        </li>
        <li class="marquee__line">
          <img class="covers-img energy" alt="energy" />
        </li>
        <li class="marquee__line">
          <img class="covers-img mimino" alt="chego" />
        </li>
        <li class="marquee__line">
          <img class="covers-img chego" alt="chego" />
        </li>
        <li class="marquee__line">
          <img class="covers-img green" alt="green" />
        </li>
        <li class="marquee__line">
          <img class="covers-img fruitbox" alt="fruitbox" />
        </li>
        <li class="marquee__line">
          <img class="covers-img wallet" alt="wallet" />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img class="covers-img fruitbox" alt="fruitbox" />
        </li>
        <li class="marquee__line">
          <img class="covers-img wallet" alt="wallet" />
        </li>
        <li class="marquee__line">
          <img class="covers-img starlight" alt="starlight" />
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" />
        </li>
        <li class="marquee__line">
          <img class="covers-img ukrain" alt="ukrain" />
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" />
        </li>
        <li class="marquee__line">
          <img class="covers-img wallet" alt="wallet" />
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img class="covers-img eng" alt="eng" />
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" />
        </li>
        <li class="marquee__line">
          <img class="covers-img energy" alt="energy" />
        </li>
        <li class="marquee__line">
          <img class="covers-img fruitbox" alt="fruitbox" />
        </li>
        <li class="marquee__line">
          <img class="covers-img green" alt="green" />
        </li>
        <li class="marquee__line">
          <img class="covers-img eng" alt="eng" />
        </li>
        <li class="marquee__line">
          <img class="covers-img wallet" alt="wallet" />
        </li>
        <li class="marquee__line">
          <img class="covers-img fruitbox" alt="fruitbox" />
        </li>
      </ul>
    </div>
  </div>
</section>
