<section class="covers" id="covers">
  <div class="container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="marquee">
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img class="covers-img eng" alt="powerpulse" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img energy" alt="energy" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img wallet" alt="wallet" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img green" alt="green" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img eng" alt="eng" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img starlight" alt="starlight" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img fruitbox" alt="fruitbox" src="../img/">
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img class="covers-img fruitbox" alt="fruitbox" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img wallet" alt="wallet" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img starlight" alt="starlight" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img ukrain" alt="ukrain" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img starlight" alt="starlight" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img eng" alt="eng" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" src="../img/">
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img class="covers-img eng" alt="eng" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img energy" alt="energy" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img mimino" alt="chego" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img chego" alt="chego" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img green" alt="green" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img fruitbox" alt="fruitbox" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img wallet" alt="wallet" src="../img/">
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img class="covers-img fruitbox" alt="fruitbox" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img wallet" alt="wallet" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img starlight" alt="starlight" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img ukrain" alt="ukrain" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img wallet" alt="wallet" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" src="../img/">
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img class="covers-img eng" alt="eng" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img powerpulse" alt="powerpulse" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img energy" alt="energy" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img fruitbox" alt="fruitbox" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img green" alt="green" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img eng" alt="eng" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img wallet" alt="wallet" src="../img/">
        </li>
        <li class="marquee__line">
          <img class="covers-img fruitbox" alt="fruitbox" src="../img/">
        </li>
      </ul>
    </div>
  </div>
</section>
