<header class="header">
        <div class="container">
            <div class="header-content">
                <a class="image-header" href="https://babyfixie.github.io/DevCore16/" target="_blank">
                    <img srcset="./img/header/header_logo@1x.png 1x,
                                  ./img/header/header_logo@2x.png 2x" src="./img/header/header_logo@1x.png" alt="Фото розробника" />
                </a>
                <div class="nickname">jefferson*</div>
                    <div class="menu">
                        <p class="tittle-menu">Menu</p>
                        <ul class="header-desk-menu-list">
                            <li class="header-desk-menu-item">
                                <a class="header-desk-menu-link" href="#about-me">About me</a>
                            </li>
                            <li class="header-desk-menu-item">
                                <a class="header-desk-menu-link" href="#benefits">Benefits</a>
                            </li>
                            <li class="header-desk-menu-item">
                                <a class="header-desk-menu-link" href="#projects">Projects</a>
                            </li>
                            <li class="header-desk-menu-item">
                                <a class="header-desk-menu-link" href="#FAQ">FAQ</a>
                            </li>
                        </ul>
                    </div>
                    <button class="header-navbar-button">Order the project</button>
                
                <button class="header-burger-button">
                    <svg class="header-burger-icon" width="28" height="28">
                        <use href="../img/svg/icons.svg#icon-burger"></use>
                    </svg>
                </button>
            </div>
        </div>


        <div class="header-mobile-menu-background">
            <div class="header-mobile-menu-wrapper">
                <button class="header-mobile-menu-close-button">
                    <svg class="header-mobile-menu-close-icon" width="14" height="14">
                        <use href="../img/svg/icons.svg#icon-close"></use>
                    </svg>
                </button>
                <nav>
                    <ul class="header-mobile-menu-list">
                        <li class="header-mobile-menu-item">
                            <a class="header-mobile-menu-link" href="#about-me">About me</a>
                        </li>
                        <li class="header-mobile-menu-item">
                            <a class="header-mobile-menu-link" href="#benefits">Benefits</a>
                        </li>
                        <li class="header-mobile-menu-item">
                            <a class="header-mobile-menu-link" href="#projects">Projects</a>
                        </li>
                        <li class="header-mobile-menu-item">
                            <a class="header-mobile-menu-link" href="#FAQ">FAQ</a>
                        </li>
                    </ul>
                </nav>
                <button class="header-mobile-menu-order-button">
                    Order the project
                </button>
            </div>
        </div>
        
    </header>
