<header class="header">
        <div class="container">
            <div class="header-content">
                <a class="image-header" href="https://example.com">
                    <img src="../img/header/header-image.png" alt="Фото разроботчика">
                </a>
                <div class="nickname">jefferson*</div>
                <a href="" class="menu">Menu</a>
                    
                    <button class="header-navbar-button" data-btn-shop-now>Order the project</button>
                
                <button class="header-burger-button" data-header-burger-button>
                    <svg class="header-burger-icon" width="32" height="32">
                        <use href="../img/svg/icons.svg#icon-burger"></use>
                    </svg>
                </button>
            </div>
        </div>
    </header>

