<section class="section-hero">
  <div class="hero-wrapper"></div>
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title">
        Hello.<br />
        I’m Fullstack developer Lloyd Jefferson.
      </h1>

      <ul class="hero-soc-list">
        <li>
          <a href="https://www.instagram.com/goitclub/" target="_blank">ig</a>
        </li>
        <li>
          <a href="https://www.facebook.com/goITclub/" target="_blank">fb</a>
        </li>
        <li>
          <a href="https://www.youtube.com/c/GoIT" target="_blank">yt</a>
        </li>
        <li>
          <a href="https://github.com/babyfixie/DevCore16" target="_blank"
            >gh</a
          >
        </li>
        <li>
          <a href="lloydjefferson@gmail.com" target="_blank"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
