<section class="projects" id="projects">
  <div class="container">
    <h2 class="project-title">PROJECTS</h2>
    <div class="project-swiper project-container">
      <ul class="swiper-wrapper">
        <!-- mob -->
        <li class="swiper-slide project-item">
          <div class="project-item-inf">
            <ul class="skills">
              <li class="skills-p">#react</li>
              <li class="skills-p">#js</li>
              <li class="skills-p">#node</li>
              <li class="skills-p">#git</li>
            </ul>
            <p class="item-inf-p">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://babyfixie.github.io/DevCore16/"
              class="item-inf-a"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-item-img" data-img="first"></div>
        </li>
        <!-- second project -->
        <li class="swiper-slide project-item">
          <div class="project-item-inf">
            <ul class="skills">
              <li class="skills-p">#react</li>
              <li class="skills-p">#js</li>
              <li class="skills-p">#node</li>
              <li class="skills-p">#git</li>
            </ul>
            <p class="item-inf-p">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/babyfixie/DevCore16"
              class="item-inf-a"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-item-img" data-img="second"></div>
        </li>
        <!-- third project -->
        <li class="swiper-slide project-item">
          <div class="project-item-inf">
            <ul class="skills">
              <li class="skills-p">#react</li>
              <li class="skills-p">#js</li>
              <li class="skills-p">#node</li>
              <li class="skills-p">#git</li>
            </ul>
            <p class="item-inf-p">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/babyfixie/DevCore16"
              class="item-inf-a"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-item-img" data-img="third"></div>
        </li>
      </ul>
    </div>
    <div class="slider-conteiner">
      <button class="swiper-button-prev">
        <svg class="icon-arrow" width="24" height="24">
          <use href="./img/projects/symbol-icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="swiper-button-next">
        <svg class="icon-arrow" width="24" height="24">
          <use href="./img/projects/symbol-icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
