<section class="section-reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-section-title">REVİEWS</h2>
    <swiper-container class="reviews-swiper-container" init="false">
      <swiper-slide class="reviews-item" lazy="true">
        <div class="reviews-image-container">
          <img
            src=""
            loading="lazy"
            alt="User photo"
            width="48"
            height="48"
            class="user-foto"
          />
        </div>
        <h3 class="reviews-user-name"></h3>
        <p class="reviews-text"></p>
      </swiper-slide>
      <swiper-slide class="reviews-item" lazy="true">
        <div class="reviews-image-container">
          <img
            src=""
            loading="lazy"
            alt="User photo"
            width="48"
            height="48"
            class="user-foto"
          />
        </div>
        <h3 class="reviews-user-name"></h3>
        <p class="reviews-text"></p>
      </swiper-slide>
      <swiper-slide class="reviews-item" lazy="true">
        <div class="reviews-image-container">
          <img
            src=""
            loading="lazy"
            alt="User photo"
            width="48"
            height="48"
            class="user-foto"
          />
        </div>
        <h3 class="reviews-user-name"></h3>
        <p class="reviews-text"></p>
      </swiper-slide>
      <swiper-slide class="reviews-item" lazy="true">
        <div class="reviews-image-container">
          <img
            src=""
            loading="lazy"
            alt="User photo"
            width="48"
            height="48"
            class="user-foto"
          />
        </div>
        <h3 class="reviews-user-name"></h3>
        <p class="reviews-text"></p>
      </swiper-slide>
      <swiper-slide class="reviews-item" lazy="true">
        <div class="reviews-image-container">
          <img
            src=""
            loading="lazy"
            alt="User photo"
            width="48"
            height="48"
            class="user-foto"
          />
        </div>
        <h3 class="reviews-user-name"></h3>
        <p class="reviews-text"></p>
      </swiper-slide>
      <swiper-slide class="reviews-item" lazy="true">
        <div class="reviews-image-container">
          <img
            src=""
            loading="lazy"
            alt="User photo"
            width="48"
            height="48"
            class="user-foto"
          />
        </div>
        <h3 class="reviews-user-name"></h3>
        <p class="reviews-text"></p>
      </swiper-slide>
    </swiper-container>
    <div class="reviews-swiper-button">
      <!--<div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>----->
      <button class="reviews-button-prev" type="button"></button>
      <button class="reviews-button-next" type="button"></button>
    </div>
  </div>
</section>
