<section class="section-reviews" id="reviews" aria-label="reviews-section">
  <div class="container reviews">
    <h2 class="reviews-section-title">REVİEWS</h2>
    <div class="reviews-swiper-container swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="reviews-swiper-button">
        <button class="reviews-button-prev swiper-button-prev">
          <svg class="prev-btn-icon" width="24" height="24">
            <use href="../img/svg/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="reviews-button-next swiper-button-next">
          <svg class="next-btn-icon" width="24" height="24">
            <use href="../img/svg/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
