<section class="section-reviews" id="reviews" aria-label="reviews-section">
  <div class="container">
    <h2 class="reviews-section-title">REVİEWS</h2>
    <div class="reviews-swiper-container swiper">
      <!-- <swiper-slide class="reviews-item" lazy="true">
        <div class="reviews-image-container">
          <img
            src=""
            loading="lazy"
            alt="User photo"
            width="48"
            height="48"
            class="user-foto"
          />
        </div>
        <h3 class="reviews-user-name"></h3>
        <p class="reviews-text"></p>
      </swiper-slide>
      <swiper-slide class="reviews-item" lazy="true">
        <div class="reviews-image-container">
          <img
            src=""
            loading="lazy"
            alt="User photo"
            width="48"
            height="48"
            class="user-foto"
          />
        </div>
        <h3 class="reviews-user-name"></h3>
        <p class="reviews-text"></p>
      </swiper-slide>
      <swiper-slide class="reviews-item" lazy="true">
        <div class="reviews-image-container">
          <img
            src=""
            loading="lazy"
            alt="User photo"
            width="48"
            height="48"
            class="user-foto"
          />
        </div>
        <h3 class="reviews-user-name"></h3>
        <p class="reviews-text"></p>
      </swiper-slide>
      <swiper-slide class="reviews-item" lazy="true">
        <div class="reviews-image-container">
          <img
            src=""
            loading="lazy"
            alt="User photo"
            width="48"
            height="48"
            class="user-foto"
          />
        </div>
        <h3 class="reviews-user-name"></h3>
        <p class="reviews-text"></p>
      </swiper-slide>
      <swiper-slide class="reviews-item" lazy="true">
        <div class="reviews-image-container">
          <img
            src=""
            loading="lazy"
            alt="User photo"
            width="48"
            height="48"
            class="user-foto"
          />
        </div>
        <h3 class="reviews-user-name"></h3>
        <p class="reviews-text"></p>
      </swiper-slide>
      <swiper-slide class="reviews-item" lazy="true">
        <div class="reviews-image-container">
          <img
            src=""
            loading="lazy"
            alt="User photo"
            width="48"
            height="48"
            class="user-foto"
          />
        </div>
        <h3 class="reviews-user-name"></h3>
        <p class="reviews-text"></p>
      </swiper-slide> -->
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="reviews-swiper-button">
        <button class="reviews-button-prev swiper-button-prev">
          <svg class="prev-btn-icon" width="24" height="24">
            <use href="../img/svg/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="reviews-button-next swiper-button-next">
          <svg class="next-btn-icon" width="24" height="24">
            <use href="../img/svg/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
