:root {
  /* --font-family: Inter Tight; */
  --color-text-tittle: #fafafa66;
  --color-line-border: #fafafa33;
  --color-text-primary: #fafafa;
  --color-text-secondary: #fafafa99;
  --light-accent-color: #fcf1e0;
  --background-color: #fafafa;
  --white-color: #fff;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MOBILE FOOTER */

.faq {
  /* max-width: 375px; */
}

.faq-tittle {
  /* font-family: Inter Tight; */
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: var(--color-text-tittle);
}

.faq-tittle::after {
  display: block;
  content: '';
  width: 100%;
  margin-top: 32px;
  margin-bottom: 20px;
  /* margin-bottom: 32px; */
  border: 1px solid var(--color-line-border);
}

.faq-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* column-gap: 60px; */
  row-gap: 20px;
}
.faq-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* column-gap: 60px; */
  row-gap: 16px;
}

.faq-item::after {
  display: block;
  content: '';
  width: 100%;
  /* margin-top: 32px;
  margin-bottom: 20px; */
  /* margin-bottom: 32px; */
  border: 1px solid var(--color-line-border);
}

.faq-item-tittle {
  cursor: pointer;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 4px;
  width: 343px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -2%;
  color: var(--color-text-primary);
  /* background: var(--color-text-primary);
  margin-bottom: 18px; */
}

.faq-vector-box {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  border-radius: 50%;
  color: var(--color-text-primary);

  /* width: 34;
  height: 34; */
  border: 1px solid var(--color-line-border);
  border-width: 1px;
  /* padding: 7px; */
  transition: transform 0.3s ease-in-out;
}

.faq-item.is-active .faq-vector-box {
  transform: rotate(180deg); /* Rotate icon when opened */
}

.faq-vector {
  fill: currentColor;
  margin: 7px;
}

.faq-item-text {
  display: none; /* Ensure it's hidden initially */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: var(--color-text-secondary);
}

.faq-item.is-active .faq-item-text {
  display: block;
  opacity: 1;
}

/* @media screen and (max-width: 767px) {
  .faq-item {
    margin-bottom: 20px;
  }
} */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .faq-tittle::after {
    margin-bottom: 32px;
  }

  .faq-list {
    row-gap: 32px;
  }
  .faq-item::after {
    margin-top: 8px;
  }

  .faq-item-tittle {
    column-gap: normal;
    width: 704px;
  }
  .faq-item-text {
    width: 656px;
  }

  .faq-vector {
    margin: 10px;
  }
}

@media screen and (min-width: 1440px) {
  /* .faq {
    max-width: 1440px;
  } */

  .faq-tittle::after {
    margin-bottom: 32px;
  }

  .faq-list {
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-direction: column; */
    justify-content: flex-start;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    align-items: start;
    /* align-items: stretch; */
    /* align-items: baseline; */
    /* align-content: stretch; */
    align-content: center;
    width: 1376px;
    /* min-height: 650px; */
    /* height: 600px; */
    /* min-height: 600px; */
    row-gap: 32px;
    /* column-gap: 100px; */
    /* column-gap: 0px; */
  }

  .faq-list-line::after {
    position: absolute;
    /* position: relative; */
    content: '';
    top: 56px;
    right: 50%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .faq-item {
    /* flex-grow: 1; */
    /* flex-shrink: ; */
    /* flex-basis: ; */
    width: 688px;
  }

  /* .faq-list::not(:nth-child(-n + 3)) { */
  /* .faq-list::not(:nth-child(4n)) { каждый 4ый*/

  /* .faq-item:not(:nth-child(-n + 1)) {
      order: (n + 1);
    } */

  .faq-item:nth-child(1) {
    order: 1;
  }
  .faq-item:nth-child(2) {
    order: 3;
  }
  .faq-item:nth-child(3) {
    order: 5;
  }
  .faq-item:nth-child(4) {
    order: 2;
  }
  .faq-item:nth-child(5) {
    order: 4;
  }
  .faq-item:nth-child(6) {
    order: 6;
  }

  .faq-item:not(:nth-child(-n + 3)) > .faq-item-tittle {
    margin-left: 32px;
  }
  .faq-item:not(:nth-child(-n + 3)) > .faq-item-text {
    margin-left: 32px;
  }

  .faq-item-tittle {
    column-gap: normal;
    width: 656px;
  }
  .faq-item-text {
    width: 656px;
  }

  .faq-vector {
    margin: 10px;
  }
}
