:root {
  --main-font-family: 'Montserrat', sans-serif;
  --primary-text-color: #111111;
  --accent-background-color: #1e1823;
  --accent-color: #fd9222;
  --light-accent-color: #fcf1e0;
  --background-color: #fafafa;
  --white-color: #fff;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faq {
}

@media screen and (max-width: 767px) {
  .faq-item {
    margin-bottom: 20px;
  }
  /* .faq {
    max-width: 375px;
  } */
}

.faq-vector-box {
  background-color: var(--white-color);
  border-radius: 50%;
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34;
  height: 34;
  gap: 10px;
  border-radius: 100px;
  border-width: 1px;
  padding: 7px;
}

.faq-vector {
  fill: currentColor;
}

.faq-icon {
  margin-bottom: 22px;
  width: 62px;
  height: 62px;
  border: 1px solid #fafafa;
  border-radius: 365px;
  padding: 15px;
}

.faq-item-tittle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;

  color: #ffffff;
  margin-bottom: 18px;

  display: flex;
  align-items: center;
  color: var(--white-color);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.faq-item-text {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;

  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .faq {
    padding-top: 50px;
    padding-bottom: 50px;
    /* max-width: 768px; */
  }
  .faq-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 50px;
  }
  .faq-item {
    width: 308px;
  }
}

@media screen and (min-width: 14400px) {
  /* .faq {
    max-width: 1440px;
  } */

  .faq-list {
    align-items: start;
    column-gap: 88px;
  }
  .faq-item {
    position: relative;
  }
  .faq-item-line::after {
    position: absolute;
    content: '';
    top: 62px;
    right: -18px;
    height: 124px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}
