:root {
  /* --font-family: Inter Tight; */
  --color-text-tittle: #fafafa66;
  --color-line-border: #fafafa33;
  --color-text-primary: #fafafa;
  --color-text-secondary: #fafafa99;
  --light-accent-color: #fcf1e0;
  --background-color: #fafafa;
  --white-color: #fff;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MOBILE FOOTER */

.faq {
  /* max-width: 375px; */
}

.faq-tittle {
  /* font-family: Inter Tight; */
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: var(--color-text-tittle);
}

.faq-tittle::after {
  display: block;
  content: '';
  width: 100%;
  margin-top: 32px;
  margin-bottom: 20px;
  /* margin-bottom: 32px; */
  border: 1px solid var(--color-line-border);
}

.faq-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* column-gap: 60px; */
  row-gap: 20px;
}
.faq-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* column-gap: 60px; */
  row-gap: 16px;
}

.faq-item::after {
  display: block;
  content: '';
  width: 100%;
  /* margin-top: 32px;
  margin-bottom: 20px; */
  /* margin-bottom: 32px; */
  border: 1px solid var(--color-line-border);
}

.faq-item-tittle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 4px;
  width: 343px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -2%;
  color: var(--color-text-primary);
  /* background: var(--color-text-primary);
  margin-bottom: 18px; */
}

.faq-vector-box {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  border-radius: 50%;
  color: var(--color-text-primary);

  /* width: 34;
  height: 34; */
  border: 1px solid var(--color-line-border);
  border-width: 1px;
  /* padding: 7px; */
}

.faq-vector {
  fill: currentColor;
  margin: 7px;
}

.faq-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: var(--color-text-secondary);
}

/* @media screen and (max-width: 767px) {
  .faq-item {
    margin-bottom: 20px;
  }
} */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .faq-tittle::after {
    margin-bottom: 32px;
  }

  .faq-list {
    row-gap: 32px;
  }
  .faq-item::after {
    margin-top: 8px;
  }

  .faq-item-tittle {
    column-gap: normal;
    width: 704px;
  }
  .faq-item-text {
    width: 656px;
  }
}

@media screen and (min-width: 1440px) {
  /* .faq {
    max-width: 1440px;
  } */

  .faq-tittle::after {
    margin-bottom: 32px;
  }

  .faq-list {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: space-around; */
    width: 1376px;
    height: 600px;
    /* min-height: 600px; */
    row-gap: 32px;
    align-items: start;
    column-gap: 88px;
  }
  .faq-item {
    width: 688px;
  }
  .faq-item-tittle {
    column-gap: normal;
    /* width: 688px; */
  }
}
