.hero-container {
    display: flex;
    flex-direction: column;
    gap:212px;
    padding-top: 281px;
    padding-bottom: 32px;
    height: 100%;
}

.hero-title {
    margin: 0;
    font-weight: 500;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
    flex-grow: 1;
}


.hero-soc-list {
    display: flex;
    color: #fafafa;
    gap: 4px;
    margin-top: auto;
    flex-wrap: wrap;
}

.hero-soc-list li {
    position: relative;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-soc-list li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
    text-decoration: none;
    border-radius: 50%;
    box-sizing: border-box;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-soc-list li:not(:last-child) a {
    width: 37px;
    height: 37px;
    border: 1px solid rgba(250, 250, 250, 0.2);
}

.hero-soc-list li:last-child a {
    width: 178px;
    height: 37px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.02em;
        text-transform: lowercase;
}



.hero-soc-list li:hover a,
.hero-soc-list li:focus a
 {
    border: 1px solid #fafafa;
    
}



.hero-wrapper {
    position: absolute;
    z-index: -1;
    width: 310px;
    min-height: 812px;
    background-image:linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(28, 29, 32, 0.2)),
        url('../img/hero/hero-mob-1x.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



@media only screen and (max-width: 358px) {
    .hero-wrapper {
        
            height: 903px;
    
        }
}

@media only screen and (min-width: 359px) and (max-width: 374px) {
    .hero-wrapper {
            
            height: 853px;
            
        }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .hero-wrapper {
        background-image: linear-gradient(to right,
                    rgba(255, 255, 255, 0),
                    rgba(28, 29, 32, 0.2)),
                url('../img/hero/hero-mob-2x.webp');
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0px 32px;
    }

        .hero-wrapper {
            height: 1024px;
            width: 582px;
            background-image: linear-gradient(to right,
                    rgba(255, 255, 255, 0),
                    rgba(28, 29, 32, 0.2)),
                url('../img/hero/hero-tablet-1x.webp');
        }

                 @media screen and (min-resolution: 192dpi) {
                    .hero-wrapper {
                            height: 1024px;
                            width: 582px;
                            background-image: linear-gradient(to right,
                                    rgba(255, 255, 255, 0),
                                    rgba(28, 29, 32, 0.2)),
                                url('../img/hero/hero-tablet-2x.webp');
                        }
                 }

                .hero-container {
                    align-items:first baseline;
                    gap: 187px;
                    padding-top: 300px;
                }

                .hero-title {
                    
                    font-size: 90px;
                    width: 632px;
                    height: 450px;
                }

                .hero-soc-list {
                    gap: 8px;
                    margin-left: auto;

                }

                .hero-soc-list li a {
                    padding-top: 18px;
                    font-size: 16px; 
                }
        
                .hero-soc-list li:not(:last-child) a {
                    width: 55px;
                    height: 55px;
                }
        
                .hero-soc-list li:last-child a {
                    width: 223px;
                    height: 55px;
                    font-size: 16px;
                }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }

                .hero-wrapper {
                    height: 900px;
                    width: 728px;
                    background-image: linear-gradient(to right,
                            rgba(255, 255, 255, 0),
                            rgba(28, 29, 32, 0.2)),
                        url('../img/hero/hero-desk-1x.webp');
                }
        
                @media screen and (min-resolution: 192dpi) {
                    .hero-wrapper {
                        height: 900px;
                        width: 728px;
                        background-image: linear-gradient(to right,
                                rgba(255, 255, 255, 0),
                                rgba(28, 29, 32, 0.2)),
                            url('../img/hero/hero-desk-2x.webp');
                    }
                }
    
        .hero-container {
            align-items: center;
            gap: 243px;
        }
    
        .hero-title {
            width: 1084px;
            height: 270px;
        }
    
       

}
