@import 'swiper/css';

/*::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #88888811;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 0;
}*/

.section-reviews {
  padding-bottom: 64px;
}

/*.reviews-swiper-container {
  width: 100%;
  height: 100%;
}*/

.reviews-section-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
/*.reviews-list {
  margin-bottom: 32px;
}*/

.reviews-list-item {
  flex-direction: column;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
}

.photo-review {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  border-radius: 10px;
  opacity: 1;
  margin: 0px 271px 32px 0px;
}
.autor-review {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}
.review-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  text-overflow: ellipsis;
}
.review-text-wraper {
  overflow-y: scroll;
  height: 120px;
}
.reviews-swiper-button {
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 116px;
  height: 52px;
}
.reviews-button-prev,
.reviews-button-next {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.5);
  background-color: transparent;
  fill: rgba(250, 250, 250, 1);
}
/*.swiper-button-prev,
.swiper-button-next {
  top: 94%;
  border: 1px solid rgba(250, 250, 250, 0.5);
  background: transparent;
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  color: #fafafa;
}
.swiper {
  --swiper-navigation-size: 52px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-button-prev {
  --svg-icon: url('../img/svg/icons.svg#icon-arrow-left') no-repeat;
  background: var(--svg-icon) no-repeat center;
  background-size: contain;
}

.swiper-theme-color {
  color: #fafafa;
}
.next-btn-icon {
  fill: #fafafa;
}
.swiper-navigation-size {
  width: 0;
  height: 0;
}
.reviews-swiper-button {
  display: flex;
  gap: 20px;
  width: 116px;
  height: 52px;
  margin: 32px 114px 0px;
}*/
@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}
